body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: #ae7c78;
    font-weight: normal;
    background-color: #e5e5e5;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: "Playfair Display", serif;
    font-size: 36px;
    font-weight: bold;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    display: block;
    margin-top: 26px;
    border-top: 1px solid #ae7c78;
    border-bottom: 1px solid #ae7c78;
}

.nav__list {
    margin: 0 auto;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__list .nav_item-logo {
    background: url(../img/logo.svg) no-repeat center center;
    width: 100px;
    height: 32px;
    transform: scale(1.5);
}

.nav__item {
    text-decoration: none;
    color: #ae7c78;
}

.nav__item:hover {
    color: rgb(199, 183, 183);
}

/******************* HEADER */

.banner__inner {
    height: 518px;
    display: flex;
}

.banner__content {
    padding-top: 61px;
}

.banner__text {
    font-size: 44px;
    font-family: "Playfair Display", serif;
    padding: 0;
    margin: 0;
}

.banner-sup-title {
    font-style: italic;
    margin-bottom: 24px;
}

.banner-desc {
    font-size: 24px;
}

.btn {
    width: 285px;
    height: 80px;
    border-radius: 40px;
    background-color: #d89999;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-top: 64px;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.btn:hover {
    background-color: #8d4242;

}

.banner__image {
    width: 793px;
    display: flex;
    align-items: flex-end;
}

.banner__foto {
    display: block;
    width: 368px;
    height: 404px;
    border-radius: 10px;
    margin-left: 20px;
}

.banner__foto-left {
    background: url(../img/foto-banner-1.png) no-repeat center center;
}

.banner__foto-right {
    background: url(../img/foto-banner-2.png) no-repeat center center;
    margin-bottom: 50px;
}

/******************* BANNER */

.features {
    padding: 48px 0;
}

.features__inner {
    display: flex;
    justify-content: space-between;
}

.features__item {
    flex: 1 1 0;
    padding-left: 102px;
    position: relative;
}

.features-item-2 {
    padding-left: 90px;
}

.features-icon {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 82px;
    height: 52px;
}

.features-icon-1 {
    background: url(/img/icon-features-1.svg) no-repeat center center;
}

.features-icon-2 {
    background: url(/img/icon-features-2.svg) no-repeat;
}

.features-icon-3 {
    background: url(/img/icon-features-3.svg) no-repeat;
}

.features-title {
    font-weight: 500;
    margin: 0;
    margin-bottom: 15px;
}

.features-desc {
    margin: 0;
}

/******************** FEATURES */

.popular {
    padding-top: 20px;
}

.section__title {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    font-family: "Playfair Display", serif;
    line-height: 1;
    margin-bottom: 63px;
}

.popular__item {
    position: relative;
    max-width: 794px;
    height: 546px;
    margin: 0 auto;
    display: flex;
}

.popular__content {
    width: 50%;
    padding-top: 20px;
}

.popular-title {
    font-weight: 500;
    font-size: 24px;
}

.popular-price {
    font-size: 24px;
    font-weight: 500;
}

.popular__images {
    width: 387px;
    height: 438px;
}

.arrow {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;
    z-index: 1;
}

.arrow_left {
    margin-right: 15px;
}

.arrow_right {
    margin-left: 15px;
}

/******************** POPULAR */

.catalog {
    padding-bottom: 80px;
}

.catalog__inner {
    display: flex;
    justify-content: space-between;
}

.catalog__item {
    width: 388px;
    height: 422px;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.3s linear;
    cursor: pointer;
}

.catalog__item:hover {
    filter: opacity(0.7);
}

.catalog__item-1 {
    background: url(../img/flover-catalog-1.png) no-repeat center center;
}

.catalog__item-2 {
    background: url(../img/flover-catalog-2.png) no-repeat center center;
}

.catalog__item-3 {
    background: url(../img/flover-catalog-3.png) no-repeat center center;
}

.catalog__title {
    font-size: 36px;
    font-weight: bold;
    font-family: "Playfair Display", serif;
    margin: 0;
    margin-bottom: 10px;
}

.catalog__desc {
    margin: 0;
}

/******************** CATALOG */

.sale {
    padding-bottom: 80px;
}

.sale__inner {
    display: flex;
    height: 391px;
}

.sale__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    color: #fff;
    background-color: #ae7c78;
}

.sale__title {
    width: 387px;
    font-family: "Playfair Display", serif;
    font-size: 44px;
    margin: 0;
    margin-bottom: 24px;
    letter-spacing: 1px;
}

.sale__desc {
    margin: 0;
    width: 387px;
    font-size: 24px;
}

.sale__foto {
    background: url(../img/flover-sale.png) no-repeat center center;
    width: 50%;
    background-size: cover;
}

/******************** SALE */

.step {
    margin-bottom: 80px;
    height: 232px;
}

.step__inner {
    display: flex;
}

.step__item {
    width: 300px;
    padding: 0 10px;
    text-align: center;
}

.step-title {
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 15px;
}

/******************** STEP */

.news {
    margin-top: 20px;
    margin-bottom: 80px;
    height: 460px;
}

.news__inner {
    display: flex;
    justify-content: space-between;
}

.news__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.news__title {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: "Playfair Display", serif;
    margin: 0;
    margin-bottom: 20px;
}

.news__desc {
    font-size: 24px;
    max-width: 387px;
    margin-bottom: 10px;
}

.news__social {
    max-width: 97px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.icon {
    display: block;
    width: 21px;
    height: 20px;
}

.icon__insta {
    background: url(../img/icon-insta.svg) no-repeat center center;
}

.icon__facebook {
    background: url(../img/ficon-facebook.svg) no-repeat center center;
}

.icon__twitter {
    background: url(../img/icon-twitter.svg) no-repeat center center;
}

.news__mini-foto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 20px;
}

.news__big-foto {
    display: flex;
    max-width: 387px;
}

/******************** NEWS */

.reviews {
    margin-bottom: 80px;
}

.reviews .container {
    border: 1px solid #ae7c78;
}

.reviews .section__title {
    margin: 0;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 0;
}

.reviews__inner {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

.reviews__item {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.reviews__desc {
    margin: 0;
    margin-bottom: 15px;
}

.reviews__name {
    margin: 0;
    font-weight: 500;
    margin-bottom: 80px;
}

/******************** REVIEWS */

.map {
    width: 100%;
    height: 644px;
    background: url(../img/maps.png) no-repeat center center;
    background-size: cover;
}

.map__inner {
    padding-top: 52px;
    padding-left: 52px;
}

.map__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f7fafc;
    border-radius: 12px;
    width: 386px;
    height: 520px;
    padding-left: 35px;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.map__title {
    display: block;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: "Playfair Display", serif;
    margin: 0;
    padding-bottom: 20px;
}

.map__sub-title {
    margin: 0;
    display: block;
    padding-bottom: 20px;
    padding-top: 20px;
}

.map__desc {
    max-width: 243px;
    margin: 0;
    font-weight: 500;
    cursor: pointer;
}

/******************** MAP */

.footer {
    background-color: #AE7C78;
}

.footer__list {
    margin: 0 auto;
    height: 97px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__list .footer_item-logo {
    background: url(../img/footer_logo.svg) no-repeat center center;
    width: 100px;
    height: 32px;
}

.footer__item {
    text-decoration: none;
    color: #fff;
}

.footer__list a:hover {
    color: rgb(199, 183, 183);
}

footer .icon {
    display: block;
    width: 21px;
    height: 20px;
    margin-left: 10px;
}

.footer__insta {
    background: url(../img/footer-insta.svg) no-repeat center center;
}

.footer__facebook {
    background: url(../img/footer-facebook.svg) no-repeat center center;
}

.footer__twitter {
    background: url(../img/footer-twitter.svg) no-repeat center center;
}

/******************** FOOTER */
